<!DOCTYPE hmtl>
<html lang ="en">
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE =edge">
		<meta name = "viewport" content = "width = device-width,initial-scale = 1">
		<meta name = "description" content = "">
		<meta name = "author" content = "">
		<title>Welcome to FlaskTaskr!!</title>
		<link rel = "stylesheet" href = "{{ url_for('static',filename = 'css/main.css')}}">
		<link rel = "stylesheet" href = "{{ url_for('static',filename = 'css/bootstrap.min.css')}}">
		{% block content %}
		{% endblock content %}
		<div class = "footer">
				<hr>
				<p>&copy;<a href = "https://www.google.com">Google</a></p>
		</div>
	</head>
	</div>
			<div class = "footer">
				<hr>
				<p>&copy;<a href = "https://www.google.com">Google</a></p>
			</div>
		</div>
		
		<!-- scripts -->
		<script scr = "../static/js/jquery-3.0.0.js"></script>
		<script src = "../static/js/bootstrap.min.js"></script>
	</body>
</html>